.content
    .content__header
        .content__title 
            span Перспективные захоронения
            a(href="").content__edit
    .content__block
        .content__subtitle
            span ОБЩАЯ ИНФОРМАЦИЯ
            a(href="").content__edit
        table.content__table
            tr
                td Полное название:
                td ООО Фирма “Перспективные захоронения”
            tr
                td Договор:
                td 12345 от 12.03.2015, расторгнут 20.05.2017
            tr
                td Форма:
                td ООО
            tr
                td Тип:
                td Агент, Подрядчик
    .content__block
        .content__subtitle
            span КОНТАКТНЫЕ ДАННЫЕ
            a(href="").content__edit
        table.content__table
            tr
                td ФИО:
                td Григорьев Сергей Петрович
            tr
                td Телефон:
                td +7 (916) 216-55-88
            tr
                td Эл. почта:
                td.content__table-email grigoriev@funeral.com
    .content__block
        .content__subtitle
            span АДРЕСА И ТЕЛЕФОНЫ
            a(href="").content__edit
        table.content__table
            tr
                td Юр. адрес:
                td 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
            tr
                td Юр. телефон:
                td +7 (916) 216-55-88
            tr
                td Фактич. адрес:
                td 105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312
            tr
                td Телефон:
                td +7 (916) 216-55-88
        .content__subtitle
            span РЕКВИЗИТЫ ОРГАНИЗАЦИИ
            a(href="").content__edit
        table.content__table
            tr
                td БИК:
                td 044525225
            tr
                td Банк:
                td ПАО СБЕРБАНК
            tr
                td Р/С:
                td 4070 2810 0000 9000 1425
            tr
                td К/С:
                td 3010 1810 5403 0000 0795 БИК 044 030 795
            tr
                td ИНН:
                td 1001254535
            tr
                td КПП:
                td 773101001
            tr
                td ОГРН:
                td 1053600591197
            tr
                td Ген. директор:
                td Степаненко Игорь Яковлевич
    .content__block
        .content__subtitle
            span ПРИЛОЖЕННЫЕ ФАЙЛЫ
        .content__files
            .content__file
                .content__file-icon.content__file-icon--pdf
                .content__file-info
                    .content__file-name Договор ЗН 1234-4567.pdf
                    .content__file-size Файл PDF, 1.2 МБ
                .content__file-delete
                    a(href="#")
            .content__file
                .content__file-icon.content__file-icon--zip
                .content__file-info
                    .content__file-name Фотографии счета на оп...
                    .content__file-size Файл ZIP, 200 КБ
                .content__file-delete
                    a(href="#")
            .content__file
                .content__file-icon.content__file-icon--zip
                .content__file-info
                    .content__file-name Документы за декабрь.zip
                    .content__file-size Файл ZIP, 200 КБ
                .content__file-delete
                    a(href="#")
        a(href="#").content__button 
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3" y="9.5" width="14" height="2" fill="white"/>
                <rect x="11" y="3.5" width="14" height="2" transform="rotate(90 11 3.5)" fill="white"/>
            </svg>
            span ДОБАВИТЬ ФАЙЛ