.header
    a(href="#").header__title К СПИСКУ ЮРИДИЧЕСКИХ ЛИЦ
    .header__icons
        a(href="#").header__icon.header__icon--chain
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5892 16.7628L8.45028 19.853C7.87989 20.4145 7.12148 20.7236 6.31558 20.7236C4.65063 20.7236 3.2965 19.3905 3.2965 17.7514C3.2965 16.9574 3.61049 16.2114 4.18088 15.6498L9.81137 10.1067C10.9541 8.98364 12.9444 8.9849 14.082 10.108L15 9.20675C13.3699 7.59816 10.5261 7.59816 8.89469 9.20426L3.26424 14.7473C2.44885 15.5501 2 16.6165 2 17.7514C2 20.0941 3.93592 22 6.31562 22C7.46845 22 8.5516 21.5581 9.36699 20.7554L13.342 16.8421C13.1605 16.8594 12.9829 16.8944 12.7982 16.8944C12.383 16.8944 11.979 16.8473 11.5892 16.7628Z" fill="#82B284"/>
                <path d="M17.6853 2C16.5327 2 15.4497 2.44061 14.6345 3.24104L10.6603 7.14301C10.8417 7.12583 11.0193 7.09088 11.2039 7.09088C11.6173 7.09088 12.0151 7.14781 12.4032 7.23147L15.551 4.14085C16.1213 3.58093 16.8789 3.2727 17.6853 3.2727C19.3499 3.2727 20.7038 4.60197 20.7038 6.23636C20.7038 7.0281 20.3898 7.77195 19.8195 8.33187L14.1901 13.8591C13.0471 14.9795 11.0571 14.9777 9.91778 13.856L9 14.7546C9.81523 15.5575 10.9007 16 12.0559 16C13.2085 16 14.2914 15.5594 15.1066 14.759L20.736 9.23183C21.5512 8.43141 22 7.3681 22 6.23647C22 3.90039 20.0645 2 17.6853 2V2Z" fill="#82B284"/>
            </svg>
        a(href="#").header__icon.header__icon--history
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M11.9985 7.5L11.9963 12.7471C11.9963 12.9463 12.0754 13.1368 12.2161 13.2774L15.9697 17.0303L17.0303 15.9697L13.4963 12.4365L13.4985 7.5H11.9985Z" fill="#82B284"/>
                <path d="M13.5 1.49997C8.22082 1.49997 3.85163 5.42063 3.11987 10.5H-3.8147e-06L3.74999 14.25L7.49999 10.5H4.63548C5.353 6.25028 9.04917 2.99999 13.5 2.99999C18.4629 2.99999 22.5 7.03709 22.5 12C22.5 16.9629 18.4629 21 13.5 21C10.7102 21 8.12332 19.7373 6.40283 17.5356L5.2207 18.4585C7.22752 21.0264 10.2451 22.5 13.5 22.5C19.2898 22.5 24 17.789 24 12C24 6.21096 19.2898 1.50001 13.5 1.49997Z" fill="#82B284"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        a(href="#").header__icon.header__icon--delete
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.45455 19.6364C5.45455 20.8364 6.43637 21.8182 7.63637 21.8182H16.3636C17.5636 21.8182 18.5455 20.8364 18.5455 19.6364V6.54546H5.45455V19.6364ZM8.13819 11.8691L9.67637 10.3309L12 12.6436L14.3127 10.3309L15.8509 11.8691L13.5382 14.1818L15.8509 16.4946L14.3127 18.0327L12 15.72L9.68728 18.0327L8.14909 16.4946L10.4618 14.1818L8.13819 11.8691ZM15.8182 3.27273L14.7273 2.18182H9.27273L8.18182 3.27273H4.36364V5.45455H19.6364V3.27273H15.8182Z" fill="#D95151"/>
            </svg>
