.modal
    .modal__inner
        .modal__header
            .modal__title Удалить карточку
            .modal__text Отправить карточку организации в архив?
        .modal__buttons
            .modal__button.modal__button--cancel ОТМЕНА
            .modal__button.modal__button--delete УДАЛИТЬ