extends layout/main

block content
    include ./modules/modal
    .col
        include ./modules/menu
        include ./modules/submenu
    .main
        include ./modules/header
        include ./modules/content
        include ./modules/footer